# Compiled class files
*.class

# Jar/War/Ear files
*.jar
*.war
*.ear

# Maven build output
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Gradle build output
.gradle/
build/

# IDE specific files
# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# Eclipse
.classpath
.project
.settings/
bin/
tmp/
.metadata
.factorypath

# VS Code
.vscode/
.code-workspace

# Operating System files
.DS_Store # macOS
Thumbs.db # Windows

# Log files
*.log

# Temporary files
*~
*.bak
*.swp
*.tmp